{% extends 'base.html.twig' %}

{% block title %}Secret index{% endblock %}

{% block body %}
    <h1>Secret index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>VotesUp</th>
                <th>VotesDown</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for secret in secrets %}
            <tr>
                <td>{{ secret.id }}</td>
                <td>{{ secret.content }}</td>
                <td>{{ secret.votesUp }}</td>
                <td>{{ secret.votesDown }}</td>
                <td>{{ secret.createdAt ? secret.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ secret.updatedAt ? secret.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_secret_show', {'id': secret.id}) }}">show</a>
                    <a href="{{ path('app_secret_edit', {'id': secret.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_secret_new') }}">Create new</a>
{% endblock %}
